.prioridad-alta {
    background: #f8d7da !important;
}

.prioridad-media {
    background: #fff3cd !important;
}

.prioridad-baja {
    background: #d1e7dd !important;
}

.estado-pendiente {
    background: #ffc107;
    color: black;
}

.estado-proceso {
    background: #0d6efd;
    color: white;
}

.estado-resuelto {
    background: #198754;
    color: white;
}